{#
/**
 * @file
 * Default theme implementation to display a config_page.
 *
 * @see template_preprocess_config_pages()
 *
 * @ingroup themeable
 */
#}
{% if content.col_1|render or content.col_2|render %}

  {% set row_classes = [ 'col-md' ] %}

  <{{ outer_wrapper }}{{ attributes.addClass(classes) }}>
    <div class="container-fluid subsite-footer isu-columns_two">
      <div class="row g-0">

        {% if content.col_1|render %}
          <{{ col_1_wrapper }}{{ col_1_attributes.addClass(row_classes) }}>
            <div{{ region_attributes.col_1 }}>
              {{ content.col_1 }}
            </div>
          </{{ col_1_wrapper }}>
        {% endif %}

        {% if content.col_2|render %}
          <{{ col_2_wrapper }}{{ col_2_attributes.addClass(row_classes) }}>
            <div{{ region_attributes.col_2 }}>
              {{ content.col_2 }}
            </div>
          </{{ col_2_wrapper }}>
        {% endif %}

      </div>
    </div>
  </{{ outer_wrapper }}>

{% endif %}
