{#
/**
 * @file
 * Default template for educational_programs_field
 *
 * Available variables:
 *   - title
 *   - smugmug_id
 *   - date
 *     - start_date: Start date for the event
 *     - start_time
 *     - start_day
 *     - end_date
 *     - end_time
 *     - end_day
 *     - next_date
 *     - next_time
 *     - next_day
 *   - online: True/False
 *   - address
 *     - building
 *     - street
 *     - city
 *     - state
 *     - zip
 *   - description
 *   - contact
 *     - name
 *     - email
 *     - phone
 *   - instructor
 *     - name
 *     - email
 *     - phone
 *   - sessions
 *     -
 *       - date
 *       - time
 *       - day
 *       - is_next
 *   - urls
 *     - event
 *     - program
 *   - registration
 *     - url
 *     - opens
 *       - date
 *       - time
 *       - day
 *     - closes
 *       - date
 *       - time
 *       - day
 *     -
 *     -
 */
#}

<div class="program_offering_blocks ungerboeck_eventlist_details">

  <div class="event_details_wrapper">
    <div class="event_details_dates">
      <span class="icon">
      <svg id="SVG_Time_Icon" xmlns="http://www.w3.org/2000/svg" width="42.262" height="42.304" viewBox="0 0 42.262 42.304"><path id="Oval_27_-_Outline" data-name="Oval 27 - Outline" d="M21.131,2A19.156,19.156,0,0,0,7.6,34.695,19.141,19.141,0,0,0,34.658,7.609,19,19,0,0,0,21.131,2m0-2A21.152,21.152,0,1,1,0,21.152,21.141,21.141,0,0,1,21.131,0Z" transform="translate(0)"></path><path id="Path_3472" data-name="Path 3472" d="M5756.131,1591.968a1,1,0,0,1-1-1v-13.16a1,1,0,1,1,2,0V1589.5l8.839-3.465a1,1,0,1,1,.729,1.862l-10.2,4A1,1,0,0,1,5756.131,1591.968Z" transform="translate(-5735 -1567.816)"></path></svg>
      </span>
      <span class="visible-for-screen-readers">Time</span>
      {{ date.start_day }}, {{ date.start_date }}
      {% if date.start_time != '0000' %}
        {{ date.start_time }} -
        {% if date.start_date != date.end_date %}
          {{ date.end_day }}, {{ date.end_date }}
        {% endif %}
        {{ date.end_time }}
      {% endif %}
    </div>

    <div class="event_address_wrapper">
      <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="42.262" height="42.304" viewBox="0 0 42.262 42.304"><g id="SVG_Location_Icon" transform="translate(7.5 8.5)"><path id="Oval_27_-_Outline" data-name="Oval 27 - Outline" d="M21.131,2A19.156,19.156,0,0,0,7.6,34.695,19.141,19.141,0,0,0,34.658,7.609,19,19,0,0,0,21.131,2m0-2A21.152,21.152,0,1,1,0,21.152,21.141,21.141,0,0,1,21.131,0Z" transform="translate(-7.5 -8.5)"></path><path id="Path_3472" data-name="Path 3472" d="M13.5.7a9.811,9.811,0,0,1,9.8,9.8,12.133,12.133,0,0,1-1.495,5.507,24.387,24.387,0,0,1-3.2,4.639,35.36,35.36,0,0,1-4.616,4.486.8.8,0,0,1-.982,0,35.36,35.36,0,0,1-4.616-4.486,24.387,24.387,0,0,1-3.2-4.639A12.133,12.133,0,0,1,3.7,10.5,9.811,9.811,0,0,1,13.5.7Zm0,22.764c1.838-1.557,8.2-7.354,8.2-12.964a8.2,8.2,0,1,0-16.4,0C5.3,16.117,11.661,21.908,13.5,23.464Z"></path><path id="Path_3473" data-name="Path 3473" d="M16.5,9.7a3.8,3.8,0,1,1-3.8,3.8A3.8,3.8,0,0,1,16.5,9.7Zm0,6a2.2,2.2,0,1,0-2.2-2.2A2.2,2.2,0,0,0,16.5,15.7Z" transform="translate(-3 -3)"></path></g></svg>
      </span>
      <span class="visible-for-screen-readers">Location</span>
      {% if online %}
        Online
      {% else %}
        {{ address.building }}<br>
        {{ address.street }}<br>
        {{ address.city }},
        {{ address.state }}
        {{ address.zip }}
      {% endif %}
    </div>

    {% if (contact.name) %}
      <div class="event_contact_wrapper">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="42.262" height="42.304" viewBox="0 0 42.262 42.304"><ellipse data-name="Oval 27" cx="21.131" cy="21.152" rx="21.131" ry="21.152" transform="translate(0)" fill="none"></ellipse><path data-name="Oval 27 - Outline" d="M21.131,2A19.156,19.156,0,0,0,7.6,34.695,19.141,19.141,0,0,0,34.658,7.609,19,19,0,0,0,21.131,2m0-2A21.152,21.152,0,1,1,0,21.152,21.141,21.141,0,0,1,21.131,0Z" transform="translate(0)"></path><path data-name="Path 3229" d="M9.239,9.1a.748.748,0,0,1-.5-.188L1,2.062A.75.75,0,1,1,2,.938L9.239,7.345,16.482.938a.75.75,0,1,1,.994,1.123L9.736,8.908A.748.748,0,0,1,9.239,9.1Z" transform="translate(11.527 13.102)"></path><path data-name="Line 28" d="M0,5.756a.748.748,0,0,1-.53-.22.75.75,0,0,1,0-1.061L4.476-.53a.75.75,0,0,1,1.061,0,.75.75,0,0,1,0,1.061L.53,5.537A.748.748,0,0,1,0,5.756Z" transform="translate(28.506 21.512) rotate(45)"></path><path data-name="Path 3231" d="M3.894,4.644a.75.75,0,0,1-.75-.75V.75H0A.75.75,0,0,1-.75,0,.75.75,0,0,1,0-.75H3.894a.75.75,0,0,1,.53.22.75.75,0,0,1,.22.53V3.894A.75.75,0,0,1,3.894,4.644Z" transform="translate(29.292 22.3) rotate(45)"></path><path data-name="Path 3232" d="M14.316,16.383H3.09A3.114,3.114,0,0,1,0,13.252V3.131A3.114,3.114,0,0,1,3.09,0H15.374a3.114,3.114,0,0,1,3.09,3.131V5.964a.75.75,0,0,1-1.5,0V3.131A1.613,1.613,0,0,0,15.374,1.5H3.09A1.613,1.613,0,0,0,1.5,3.131v10.12a1.613,1.613,0,0,0,1.59,1.631H14.316a.75.75,0,1,1,0,1.5Z" transform="translate(11.385 12.958)"></path></svg>
        </span>
        <span class="visible-for-screen-readers">Contact</span>
        <a href="mailto:{{ contact.email }}">{{ contact.name }}</a>
        {% if contact.phone %}
          <span>{{ contact.phone }}</span>
        {% endif %}
      </div>
    {% endif %}

  {% if smugmug_id %}
    <img class="educational_program_image" src="https://photos.smugmug.com/photos/{{ smugmug_id }}/0/XL/{{ smugmug_id }}-XL.jpg" alt="" />
    <div class="clearer"></div>
  {% endif %}

    {% if description %}
      <div class="event_description">
        {{ description }}
    <span class="event_details_links">
      {% if (urls.event) and (urls.event != registration.url) %}
        <div class="event_details_more_information">
          <a href="{{ urls.event }}" class="btn btn-outline-secondary" aria-label="Learn more about {{ title }}">Event Information</a>
        </div>
      {% endif %}

      {% if (urls.program) and (urls.program != registration.url) and (urls.program != urls.event) %}
        <div class="event_details_more_information">
          <a href="{{ urls.program }}" aria-label="Learn more about {{ title }}">Learn more</a>
        </div>
      {% endif %}
      </span>
              {% if (instructor.name) and (instructor.name != contact.name) %}
      <div class="event_instructor_wrapper">
        <p class="font-italic"><span class="font-weight-bold">Instructor: </span><a href="mailto:{{ instructor.email }}">{{ instructor.name }}</a>
        {% if instructor.phone %}
          <span>{{ instructor.phone }}</span></p>
        {% endif %}
      </div>
    {% endif %}
    {% endif %}
    </div>
    <div class="event_details_registration_wrapper">
      {% if registration.url %}
        <h2>Registration</h2>
        <div class="event_details_registration">
          <p>Don’t miss the opportunity to connect, learn, and engage. Secure your spot by registering today!</p>
          <a class="btn btn-secondary" href="{{ registration.url }}" aria-label="Register for {{ title }}">Register</a>
        </div>
      {% endif %}
      {% if registration.opens.date %}
        <h2>Registration</h2>
        <div class="event_details_registration">
          Registration for this event will open soon! Be ready to secure your spot when registration opens on {{ registration.opens.date }}.
        </div>
      {% endif %}
      {% if registration.closes.date %}
        <h2>Registration</h2>
        <div class="event_details_registration">
          Registration for this event is now closed. Thank you for your interest! Stay tuned for future events and opportunities.
        </div>
      {% endif %}
    </div>

  </div> {# .event_details_wrapper #}
</div> {# .program_offering_blocks #}
